<section class="food-section bg-gradient-to-r from-purple-500 to-indigo-600">
  <h2 class="form-header text-3xl font-bold text-white">Add New Food</h2>
  <div class="form-container bg-white shadow-md rounded-lg p-6 mt-6">
    <%= form_for @food do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "form-label text-gray-700" %>
        <%= f.text_field :name, class: "form-control bg-gray-100 rounded-md py-2 px-4", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :measurement_unit, class: "form-label text-gray-700" %>
        <%= f.text_field :measurement_unit, class: "form-control bg-gray-100 rounded-md py-2 px-4", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :price, class: "form-label text-gray-700" %>
        <%= f.number_field :price, class: "form-control bg-gray-100 rounded-md py-2 px-4", required: true, step: "0.01" %>
      </div>
      <div class="form-group">
        <%= f.label :quantity, class: "form-label text-gray-700" %>
        <%= f.number_field :quantity, class: "form-control bg-gray-100 rounded-md py-2 px-4", required: true %>
      </div>
      <div class="form-submit">
        <%= f.submit "Create Food", class: "btn-submit btn-primary bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</section>
