<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <!-- CSS only -->
<link href="https://cdn.tailwindcss.com" rel="stylesheet">
 <script src="https://cdn.tailwindcss.com"></script>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>
  <body>

        <div class="notification"> 
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

         <%= yield %>

  </body>
</html>




